<!DOCTYPE html>
<html lang="es">

<head>
    <title>Modulo 1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../view/scripts/loggedIn.js"></script>
    <link rel="shortcut icon" href="../img/iconoSMSIC.jpg">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/interface.css">
    <link rel="stylesheet" href="../css/moduleOne.css">
</head>

<body>
    <header>
    </header>
    <main>
        <div class="nivelVertical" >
            <div class="nivel__top">
                <img src="../img/clock.svg" onclick="showNH()">
                <h1>Datos de sistema</h1>
                <img id="pencil" src="../img/edit.svg">
            </div>
            <div class="nivel__body">
                <div class="container__bar">
                    <div class="bar">
                        <div class="line__bar" id="lineBar">
                            <div class="indicador__bar">
                                <span id="textBar">0%</span>
                            </div>
                        </div>
                    </div>
                    <div class="bar__botton"></div>
                </div>
            </div>
        </div>
        <div class="nivelHorizontal" onclick="showNV()" hidden> 
            <div class="nivelH__top">
                <div class="nivelH__head">
                    <img src="../img/filter.svg">
                    <h1>Tiempo de encendido de bombas</h1>
                </div>
                <div class="nivelH__body">
                    <div>
                        <h2>Equipo</h2>
                        <h2>Tiempo</h2>
                    </div>
                    <div>
                        <h2>Bomba 1</h2>
                        <h2>--:--:--</h2>
                    </div>
                    <div>
                        <h2>Bomba 2</h2>
                        <h2>--:--:--</h2>
                    </div>
                </div>
            </div>
            <div class="nivelH__bottom">
                <div class="nivelH__head">
                    <h1>Nivel</h1>
                </div>
                <div class="nivel__body">
                    <div class="container__barH">
                        <div class="barH">
                            <div class="line__barH" id="lineBarH">
                                <div class="indicador__barH">
                                    <span id="textBarH">0%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--En Tabla-->
        <!--En Imagen-->
        <div class="viewTwo" hidden>
            <div class="viewTwo__header">
                <h1>Visualización</h1>
                <img src="../img/table.svg" onclick="showViewOne()">
            </div>
            <div class="monitoreo">
                <!-------------foco---------------->
                <span class="foco foco__ope"></span>
                <!------------imagenes--------------->
                <div class="txt txt__bomba1">Bomba 1</div>
                <div class="txt txt__bomba2">Bomba 2</div>
                <div class="txt txt__tanque">Tanque</div>
                <div class="txt txt__valvula">Valvula</div>
                <div class="txt txt__ope">OPE</div>
                <div class="imagen bomba1"></div>
                <div class="imagen bomba2"></div>
                <div class="imagen tanque"></div>
                <div class="imagen tubo__vertical1"></div>
                <div class="imagen tubo__vertical2"></div>
                <div class="imagen tubo__vertical3"></div>
                <div class="imagen tubo__vertical4"></div>
                <div class="imagen tubo__horizontal1"></div>
                <div class="imagen tubo__horizontal2"></div>
                <div class="imagen codo__ad1"></div>
                <div class="imagen codo__ad2"></div>
                <div class="imagen codo__it"></div>
                <div class="imagen codo__ia"></div>
                <div class="imagen valvula"></div>
                
                <!-------LINEA DE PROGRESO-------->
                <div class="bar__tanque">
                    <div class="progreso__tanque"></div>
                </div>
                <!------------Valvula------------>
                <div class="txt texto__bomba1"></div>
                <div class="txt texto__bomba2"></div>
                <div class="txt texto__valvula"></div>
            </div>
        </div>
        <div class="viewOne">
            <div class="viewOne__header">
                <h1>Visualización</h1>
                <img src="../img/engage.svg" onclick="showViewTwo()">
            </div>
            <div class="indicadores">
                <div class="title">
                    <h1>Equipo</h1>
                    <h1 style="text-align: right;">Operacion</h1>
                    <h1></h1>
                    <h1>Estado</h1>
                </div>
                <div>
                    <h1>Modo</h1>
                    <div><span id="onButtomOPE" class="button__on">M</span></div>
                    <div><span id="offButtomOPE" class="button__off">A</span></div>
                    <div><span id="ledOPE" class="indicadores__led"></span></div>
                </div>
                <div>
                    <h1>Operacion automatica</h1>
                    <div><span id="onButtomOPE" class="button__on">ON</span></div>
                    <div><span id="offButtomOPE" class="button__off">OFF</span></div>
                    <div><span id="ledOPE" class="indicadores__led"></span></div>
                </div>
                <div>
                    <h1>Bomba 1 manual</h1>
                    <div><span id="onButtomBomba1" class="button__on">ON</span></div>
                    <div><span id="offButtomBomba1" class="button__off">OFF</span></div>
                    <div><span id="ledBomba1" class="indicadores__led"></span></div>
                </div>
                <div>
                    <h1>Bomba 2 manual</h1>
                    <div><span id="onButtomBomba2" class="button__on">ON</span></div>
                    <div><span id="offButtomBomba2" class="button__off">OFF</span></div>
                    <div><span id="ledBomba2" class="indicadores__led"></span></div>
                </div>
                <div>
                    <h1>Valvula manual</h1>
                    <div><span id="onButtomBomba2" class="button__on">ON</span></div>
                    <div><span id="offButtomBomba2" class="button__off">OFF</span></div>
                    <div><span id="ledBomba2" class="indicadores__led"></span></div>
                </div>
            </div>
        </div>
        
    </main>
    <footer>
    </footer>
    <div class="sideBar">
    </div>

    <!--Ventana modal nivel chart-->
    <section id="chartNivelMW" class="modal">
        <div class="container__chart">
            <div class="chart__title">
                <img src="../img/x.svg" id="closechartNivelMW">
            </div>
            <div class="chart__body">
                <canvas id="chart" class="body__canvas"></canvas>
            </div>
            <div class="chart__footer">
                <button class="footer__button" onclick="resetZoom()" data-tooltip="Inicio">1:1</button>
                <button class="footer__button" onclick="backChart()" data-tooltip="Atras"><img
                        src="../img/undo.svg"></button>
                <button class="footer__button" onclick="readNivel()" data-tooltip="Actualizar"><img
                        src="../img/update.svg"></button>
                <!--<button class="footer__button" onclick="resetZoom()"><img src="../img/pause.svg"></button>-->
                <button class="footer__button" onclick="resetZoom()" data-tooltip="Buscar"><img
                        src="../img/search.svg"></button>
                <!--<select name="" id="">
                    <option value="millisecond">Milisegundos</option>
                    <option value="second">Segundos</option>
                    <option value="minute">Minutos</option>
                    <option value="hour">horas</option>
                    <option value="day">Dias</option>
                    <option value="month">Meses</option>
                    <option value="year">Años</option>
                </select>-->
            </div>
        </div>
    </section>

</body>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
    integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--Link que nos permite usar el zoom en las graficas de javascript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"
    integrity="sha512-wUYbRPLV5zs6IqvWd88HIqZU/b8TBx+I8LEioQ/UC0t5EMCLApqhIAnUg7EsAzdbhhdgW07TqYDdH3QEXRcPOQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="scripts/interface.js"></script>
<script src="scripts/footer.js"></script>
<script src="scripts/moduleOne.js"></script>

</html>