<!DOCTYPE html>
<html lang="es">

<head>
    <title>Tendencias</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../view/scripts/loggedIn.js"></script>
    <link rel="shortcut icon" href="../img/iconoSiemens.ico">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/interface.css">
</head>
<body>
    <header>
    </header>
    <main>
    </main>
    <div class="sideBar">
    </div>
</body>
<script src="scripts/interface.js"></script>
</html>